.qodo
venv/
.env
__pycache__/
node_modules/
socket_server/package-lock.json


# Ignoramos el contenido
images_container/*
videos/*

# Excluimos los .gitkeep para que las carpetas se suban vacías
!archivos_torneos/.gitkeep
!imagenes/.gitkeep
!imagenes_cancha_torneo/.gitkeep
!imagenes_torneo/.gitkeep
!imagenes_cancha_torneos/.gitkeep
!imagenescancha/.gitkeep
!logos/.gitkeep
!logos_torneos/.gitkeep
!logospartidos/.gitkeep
!logosteams/.gitkeep
!logostorneos/.gitkeep
!media/.gitkeep
!micarpeta/.gitkeep
!videos/.gitkeep